<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBlogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:95/Core/BlogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlogService"
                contract="BlogServiceClient.IBlogService" name="BasicHttpBinding_IBlogService" />
        </client>
    </system.serviceModel>
</configuration>